<template>
  <div class="profile-history container">
    <h2 class="profile-history__title">
      Последние 10 игр
    </h2>
    <div
      v-for="item in model"
      :key="item.code"
      class="profile-history__table"
    >
        <span class="profile-history__table-col">
          Игра: {{ item.code }}
        </span>
        <span class="profile-history__table-col">
          Ставка: {{ item.amount }}
        </span>
        <span class="profile-history__table-col">
          Статус: {{ statusLabel(item.status) }}
        </span>
        <span class="profile-history__table-col">
          Выигрыш: {{ getProfit(item) }}
        </span>

    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        code: '123',
        model: []
      }
    },
    created() {
      this.getHistory()
    },
    methods: {
      async getHistory() {
        console.log('asd');
       if(this.$store.getters['auth/isLoggedIn']){
          this.model = await this.$store.dispatch('history')
        }
      },
      statusLabel(status){
        switch (status){
          case 4:
            return 'Вы проиграли'
            break
          case 5:
            return `Вы выиграли`
            break
          case 10:
            return `Активная игра`
            break
        }
      },
      getProfit(model){
         return (model.status === 5) ? (JSON.parse(model.state).profit).toFixed(2) :  0
      }
    },
  }
</script>

<style lang="scss" >
.profile-history{
  flex-direction: column;
  color: white;
  & .profile-history__title{
    padding:  12px 4px;
  }
  & .profile-history__table{
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:  12px 4px;
    margin: 8px 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    @media (max-width: 550px) {
      justify-content: flex-start;
      flex-direction: column;
      text-align: left;
    }
  }
  & .profile-history__table-col{
      width: 100%;
      max-width: 25%;
      @media (max-width: 550px) {
        max-width: 100%;
        text-align: left;
      }
  }

}

</style>
