<template>
  <div >
    <game-container
      :model.sync="model"
      :started="started"
      @startGame="gameAction"
      @selectionField="gameAction"
      @endGame="gameAction"
    />
    <game-status
      :status="10"
      :amount="amount"
     />
     <game-history ref="profileHistory"
     />
  </div>
</template>

<script>

import GameContainer from '@/components/tower/Game'
import GameStatus from '@/components/tower/Status'
import GameHistory from '@/components/History'

const ENDPOINTS = {
  lastGame: 'game/lastGame',
  start: 'game/start',
  move: 'game/move',
  end: 'game/finish',
}

export default {

  components: {
    GameContainer,
    GameStatus,
    GameHistory
  },
  data() {
    return {
       model: [],
       step: 0,
       started: false,
       loading: false,
       code: '',
       status: 4,
       amount: 0
    }
  },
  computed: {
  },
  async asyncData({ store, params }) {
    if(store.getters['auth/isLoggedIn']){
      const model = await store.dispatch(ENDPOINTS['lastGame'])
      if(typeof model !== 'undefined' && model !== null){
        const step = model.step
        const started = (model.status === 10) ? true : false
        const code = model.code
        return { model, step, started, code }
      }

    }
  },
  computed: {
  },
  methods: {
    async gameAction(payload = {}){
      const game = await this.$store.dispatch(ENDPOINTS[payload.action],  payload )
      .then( res => {
        console.log('res', res);
        this.setGameOptions(res);

        if(res.status != 10) this.$refs.profileHistory.getHistory()
      })
      .catch( err => console.log(err))
    },

    setGameOptions(model){
      this.model = model
      this.code = model.code;
      this.status = model.status;
      this.started = (this.status === 10) || false
      this.amount = model.amount
    },
    selectionField(payload){
      this.gameAction(payload)
    },
    async checkLastGame(){
       await this.$store.dispatch(ENDPOINTS['lastGame'])
          .then( data => {
            if(data !== null){
              this.setGameOptions(data)
            }
          })
          .catch( err => console.log(err))
    }
  },
  watch: {
    '$store.state.auth.isLoggedIn': function() {
      this.checkLastGame()
    }
  }
}
</script>

<style  lang="scss">

</style>
