<template>
 <div v-if="isShowed" class="auth-modal">
   <auth-form
              @submit="submit"
              @changeType="changeType"
              :loading="loading"
              :isReg="isReg"
              :submitErrors="submitErrors"
              />
   <div class="fade"></div>
 </div>

</template>

<script>
import AuthForm from './Form'
import { required, sameAs, minLength } from 'vuelidate/lib/validators'
  export default {
    components:{
      AuthForm
    },
    props: {
      show: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        isReg: false,
        isShowed: false,
        loading: false,
        submitErrors: []
      }
    },
    methods: {
      async submit(payload) {
        let type = (this.isReg) ? 'auth/registration' : 'auth/login';
        this.loading = true;
        this.submitErrors = {};
        const auth = await this.$store.dispatch(type, payload)
        console.log(auth);
        if(!auth.success) this.submitErrors = {'msg': auth.msg}
        this.loading = false;

      },
      changeType(data){
        this.submitErrors = {}
        this.isReg = data;
      }
    },
    mounted() {
     this.isShowed = (this.$store.state.auth.isLoggedIn) ? false : true
    },
    watch: {
      '$store.state.auth.isLoggedIn': function() {
        this.isShowed = (this.$store.state.auth.isLoggedIn) ? false : true
      }
    },


  }
</script>

<style lang="scss" >
@import '@/assets/styles/auth.scss';
</style>
