<template>
  <form
    @submit.prevent="submit"
    class="game-form game-form--login"
  >
    <div class="game-form__types">
      <button
        @click.prevent="$emit('changeType', false)"
        :class="{active:  !isReg}"
        class="game-form__btn"
      >
        Авторизация
      </button>
      <button
        @click.prevent="$emit('changeType', true)"
        :class="{active:  isReg}"
        class="game-form__btn">

        Регистрация
      </button>

    </div>

    <ul class="game-form__errors" v-if="submitErrors">
      <li
        v-for="(item, index) in submitErrors"
        :key="index"
      >
        {{ item }}

      </li>

    </ul>
    <label  class="form__control">
      Логин
      <input
            v-model.trim="form.login"
            type="text"
            name="login"
            class="form__input"
            required
            autocomplete="no"
            placeholder="Логин">
    </label>
    <label  class="form__control">
        Пароль
        <input
            v-model.trim="form.password"
            type="password"
            name="password"
            class="form__input"
            required
            autocomplete="no"
            placeholder="Пароль"
            >

    </label>
    <label
      v-if="isReg"
      class="form__control" >
        Повторите пароль
        <input
            v-model.trim="form.password_confirmation"
            type="password"
            name="password_confirmation"
            class="form__input"
            required
            autocomplete="no"
            placeholder="Повторите пароль">
    </label>
    <button
      type="submit"
      class="form__button"
      :disabled="loading"
     >
      {{ (isReg) ? "Регистрация" : "Войти"}}
    </button>
  </form>
</template>

<script>
import { required, sameAs, minLength } from 'vuelidate/lib/validators'
  export default {
    props: {
      isReg: {
        type: Boolean,
        default: false
      },
      loading: {
        type: Boolean,
        default: false
      },
      submitErrors: {
        type: [Array, Object],
        default: function () {
          return { }
        }
      }
    },
    data() {
      return {
        form: {
          login: '',
          password: '',
          password_confirmation: '',
        },
        title: 'Авторизация на сайте'

      }
    },
    methods: {
      submit() {
        let payload = {
          login: this.form.login,
          password: this.form.password,
          password_confirmation: this.form.password_confirmation
        }

        if(!this.isReg) delete payload.password_confirmation

        this.$emit('submit', payload)

      },
    },

    validations: {
     /* form: {
        login: {
          required,
          minLength: minLength(6)
        },
        password: {
          required,
          minLength: minLength(6)
        },
        password_confirm: {
          sameAsPassword: sameAs('form.password')
        }
      }*/
    },
  }
</script>

<style lang="scss" ></style>
