<template>
  <div class="game-grid" ref="wrap" >

    <div
      v-for="(row, r) in maxRow"
      :key="r"
      ref="grid"
      :class="{
        'active': (r == step)  && started,
        'selected': (r < step) ,
      }"
      class="game-grid__row "
    >
        <div
          v-for="(item, c) in maxButtons"
          :key="c"
          class="game-grid__field"

          @click="selected($event, r, c)"
        >
          <button
            ref="item"
            class="game-grid__button"
            :disabled="!started "
            >
              <span
                class="item"
                :class="{
                  'isActive': (r < step),
                }"
              ></span>
          </button>
        </div>

    </div>
    <!-- {{ field }} -->
  </div>
</template>

<script>
  export default {
    props: {
      step: {
        type: Number,
        default: 0
      },
      state: {
        type: [Array, Object],
        reqired: true,
        default: function () {
          return {}
        }
      },

      started: {
        type: Boolean,
        default: false
      }

    },
    data() {
      return {
        maxButtons: 5,
        maxRow: 10,
        openedRows: [],
        selectedItems: [],
        newGame: false,
      }
    },
    methods: {
      selected(e, r, selection){
        return ( this.started && (r == this.step) ) ?  this.$emit('selected', selection) : false
      },
      fillOpenedRows() {
        if(typeof this.openedRows != 'undefined'){
          if(typeof this.selectedItems != 'undefined'){
            this.selectedItems.forEach((el, i) => {
              let items = this.$refs.grid[i].querySelectorAll('.game-grid__button');
              items[el].classList.add('selected');
            });
          }
          this.openedRows.forEach((el, i) => {
            let items = this.$refs.grid[i].querySelectorAll('.item');
                items.forEach((el) => el.classList.add('isActive'))
              el.forEach((f) => {
                  items[f].parentElement.classList.add('isBoom')
              })
          });
        }
      },
      renderArea(){

        this.openedRows = this.state.field;
        this.selectedItems = this.state.revealed;
        (this.openedRows.length <= 0) ? this.clearArea() : this.fillOpenedRows();
      },
      clearArea(){
        this.$refs.wrap.querySelectorAll('.game-grid__button .item').forEach( (el) => {
          el.classList.remove('isActive', 'isGem');
          el.parentElement.classList.remove('isBoom', 'selected');
        });
      },
    },
    watch: {
      state: 'renderArea',
    },
  }
</script>

<style lang="scss" >
@import "@/assets/styles/area.scss";
</style>
