<template>
  <div class="container game-container">
    <game-sidebar
      :amount.sync="amount"
      :count.sync="count"
      :started="started"
      :step="step"
      :profit="state.profit"
      @update-amount="update"
      @startGame="startGame"
      @autoSelection="selected"
      @endGame="endGame"
    />
    <game-payouts
      :count.sync="count"
      :step="step"
      :started="started"
    />
    <game-area
      :state.sync="state"
      :step="step"
      :started="started"
      @selected="selected"
     />
  </div>

</template>

<script>
import GameArea from '@/components/tower/Area'
import GamePayouts from '@/components/tower/Payouts'
import GameSidebar from '@/components/tower/Sidebar'


export default {

  components: {
    GameArea,
    GamePayouts,
    GameSidebar
  },
  props: {
    model: {
      type: [Array, Object],
      default: function () {
        return {}
      }
    },
    started: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      amount: 0,
      count: 1,
      area: [],
      state: [],
      step: 0,
    }
  },

  mounted() {
    this.init()

  },
  watch: {
    model: "init"
  },

  methods: {
    init(){
      if(Object.keys(this.model).length){
        this.step = this.model.step
        this.amount = this.model.amount
        this.count = this.model.count
        this.state = (typeof this.model.state != 'undefined') ? JSON.parse(this.model.state) : {}
      }
    },
    startGame(payload){
      this.$emit('startGame', {action: 'start', payload})
    },
    selected(selection){
      this.$emit('selectionField', {
        action: 'move',
        payload: {
          code: this.model.code,
          selection
        }
      })
    },
    endGame(){
      this.$emit('endGame', {
        action: 'end',
        payload: {
          code: this.model.code,
        }
      });
    },
    update(amount){
      this.amount = amount
    }
  }
}
</script>

<style  lang="scss"></style>
