<template>
  <div class="game-payouts" ref="payouts">
    <div
      v-for="(item,index) in coeffs"
      :key="index"
      :class="{
        'active': (index == step && started),
      }"
      class="game-payouts__item">
      x{{ item }}
    </div>
  </div>
</template>

<script>
import RateCalc from '@/helpers/rate-calc.js'
  export default {
    props: {
      step: {
        type: Number,
        default: 0
      },
      count: {
        type: Number,
        default: 1
      },

      started: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return { }
    },
    computed: {
      currentCount: {
        get() {
          return this.count
        },
      },
      coeffs: {
        get() {
          return RateCalc(this.count)
        },
      }
    },
    mounted() {
      this.$refs.payouts.scrollY = 200
    },
    updated() {
      if(this.step % 5 === 0){
        this.$refs.payouts.scrollLeft = this.step * 75
      }
    },

  }
</script>

<style lang="scss" >
@import "@/assets/styles/payouts.scss";
</style>
