<template>
  <div class="game-sidebar">
    <div class="game-bet ">
      <div class="game-sidebar__label">
        Сумма ставки {{ step }}
      </div>
      <div class="bet-form">
        <div class="bet-wrap">
           <span
              :class="{active: error}"
              class="bet-input__error">
                Введите сумму ставки
            </span>
          <div class="bet-wrap__input"
           :class="{error: error}"
           >
            <input
              v-model="sum"
              :class="{
                'disabled': started
              }"
              :disabled="started"
              :readonly="started"

              ref="amountInput"
              type="number"
              class="bet-input">

            <div class="bet-wrap__items">
                <button
                  @click="mathAction('clear')"
                  :class="{
                    'disabled': started
                  }"
                  :disabled="started"
                  v-if="sum > 0"
                  class="bet-btn bet-clear" >x</button>

                <button
                  @click="mathAction('split')"
                  :class="{
                    'disabled': started
                  }"
                  :disabled="started"
                  class="bet-btn">/2</button>

                <button
                  @click="mathAction('multiply')"
                  :class="{
                    'disabled': started
                  }"
                  :disabled="started"
                  class="bet-btn">x2</button>
            </div>

          </div>
        </div>
        <div class="bet-counts">

          <button
              v-for="count in countSums"
              :key="count.title"
              @click="mathAction(count.action, count.count)"
              :class="{
                'disabled': started
              }"
              :disabled="started"
              class="count-item"
            >
            {{ count.title  }}
          </button>

        </div>

      </div>
      <div class="game-count">
        <div class="game-sidebar__label">
          Количество бомб
        </div>
        <div class="game-count__items">
            <button
            v-for="index in 4"
            :key="index"
            @click="selectBomb(index, $event)"
            :class="{
              'active': (index === currentCount),
              'disabled': started
            }"
            :disabled="started"
            class="count-item " >
              {{ index }}
          </button>
        </div>
      </div>
      <div class="game-start">
        <div class="game-start__auto" v-if="started">
          <button class="game-start__btn" @click="$emit('autoSelection', random())">
            Автовыбор
          </button>
          <span class="game-start__tip tip-or">или</span>
          <span class="game-start__tip" >
            Выберите ячейку
          </span>
        </div>
        <button
          v-if="!started"
          class="game-start__play"
          @click="startGame()">
          Играть
        </button>
        <button
          v-else
          class="game-start__play"
          :disabled="step <= 0"
          @click="endGame()">
          Забрать выигрыш {{ profit }} руб.
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {

      count: {
        type: Number,
        default: 1
      },

      amount: {
        type: Number,
        default: 0
      },

      profit: {
        type: Number,
        default: 0
      },

      step: {
        type: Number,
        default: 0
      },

      started: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        countSums: [
          {
            title: "+10",
            count: 10,
            action: 'count',
          },
          {
            title: "+50",
            count: 50,
            action: 'count',
          },
          {
            title: "+100",
            count: 100,
            action: 'count',
          },
          {
            title: "+200",
            count: 200,
            action: 'count',
          },
          {
            title: "+500",
            count: 500,
            action: 'count',
          },
          {
            title: "%",
            count: '',
            action: 'remainder',
          },
        ],
        error: false,
      }
    },
    computed: {
      sum : {
        get() { return this.amount },
        set(value) {
          this.$emit('update:amount', value)
        },
      },
      currentCount: {
        get() { return this.count },
        set(value) {
          this.$emit('update:count', value)
        },
      },
    },
    methods: {
      mathAction( type, count = 0 ){
        const input = this.$refs.amountInput
        let result = this.sum;
        if(type === 'clear'){
          result = 0;
        }else if(type === 'split'){
          result /= 2;
        }else if(type === 'multiply'){
          result *= 2;
        }else if(type === 'count'){
          result += count;
        }else if(type === 'remainder'){
          result = ((result / 100) % 100)
        }
        return this.sum = parseFloat(result.toFixed(2));

      },

      selectBomb(count, e){
        this.currentCount = count
      },

      startGame(type = ""){
        this.error = false;

        if(this.sum > 0){
          return this.$emit('startGame', {
            amount: this.sum,
            count: this.count
          })
        }

        this.$refs.amountInput.focus()
        this.error = true;

      },

      endGame(){
        this.$emit('endGame', true)
      },

      random(min = 0, max = 4) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      },

    },
  }
</script>

<style lang="scss" >

@import "@/assets/styles/sidebar.scss";


</style>
