<template>
  <div class="game-status" v-if="showed">
    <div class="game-status__wrapper">
      <div class="game-status__title">
          <span>
              {{ statusLabel }}
          </span>
      </div>
      <a @click.prevent="showed = false" class="game-status__close">
          Играть снова
      </a>
    </div>
    <div class="fade" @click.prevent="showed = false"></div>
  </div>
</template>

<script>
  export default {
    props: {
      status: {
        type: Number,
        default: null
      },
      amount: {
        type: Number,
        default: 0
      },
    },
    computed: {
      statusLabel: function () {
        switch (this.status){
          case 4:
            return 'Вы проиграли'
            break
          case 5:
            return `Вы выиграли: ${this.amount} баллов`
            break
        }
      }
    },
    mounted() {
      this.showed = (this.status != 10);
    },
    data() {
      return {
        showed: true
      }
    },
  }
</script>

<style lang="scss">
  .game-status{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    & .game-status__wrapper{
      width: 100%;
      max-width: 320px;
      border-radius: 16px;
      padding: 16px;
      color: white;
      position: relative;
      display: flex;
      flex-direction: column;
      background: rgba(0,0,0,.9);
      z-index: 2;

    }
    & .game-status__title{
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
    & .fade{
      position: fixed;
      background: rgba(0,0,0,.5);
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

    }
  }
</style>
