.game-grid{
  max-width: 520px;
  width: 100%;
}
.game-grid__row{
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 6px;
  & .game-grid__button{
    opacity: .4;
  }
  &.active{
    & .game-grid__button{
      opacity: 1;
      cursor: pointer;
      &:hover{
        &:after{
          opacity: 1;
        }
      }
    }
  }
  &.selected{
    & .game-grid__button{
      opacity: 1;
      cursor: default;
      box-shadow: inset 0 0 0px 1px rgba(161, 239, 90, .4);
      &:not(.selected){
        opacity: .6;
        box-shadow: none ;
      }
      &:before, &:after{
        display: none;
      }
    }
  }
}
.game-grid__field{

  width: 20%;
  position: relative;
  padding: 0 3px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.game-grid__button{
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    border: 0;
    outline: none;

    padding: 8px 16px;

    width: 100%;
    height: 50px;
    background: #445163;
    border-radius: 3px;
    cursor: default;

    transition-duration: .3s;
    transition-property: background,box-shadow;

    opacity: .8;
    position: relative;

    &.selected{
      background: #445163;
      &:after{
        opacity: 1;
      }
    }

    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    &:before{
      width: 24px;
      height: 24px;
      background: #272d39;
    }
    &:after{
      background: #fff;
      width: 4px;
      height: 4px;
      opacity: 0;
      transition: opacity ease .3s;
    }

    &:disabled{

      cursor: default;
      &:after{
        content: '';
        display: none;
      }
    }
    &.isBoom{
      & .item{
        background-image: url('../../static/bomb.png');
      }
    }

    & .item{
      position: relative;
      display: block;
      width: 32px;
      height: 32px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      z-index: 1;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      opacity: 0;
      transition: .3s ease all;
      transform: scale(0);
      background-image: url('../../static/gem.png');

      &.isActive{
        transform: scale(1);
        opacity: 1;
      }

      &.isGem{
        background-image: url('../../static/gem.png');
      }
    }


}
