.auth-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  & .fade{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.9);
    cursor: pointer;
  }
}
.game-form{
  max-width: 320px;
  width: 100%;
  padding: 16px;
  background: rgb(7, 13, 29);;

  z-index: 99;
  border-radius: 8px;
  &.game-form--login{

  }
  & .form__title{
    color: rgba(255,255,255,.5);
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255,255,255,.1);
  }

  & .form__control{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;;
    margin: 8px 0;
    font-size: 12px;
  }
  & .form__input{
    padding: 16px;
    margin: 4px 0;
    border: 1px solid transparent;
    background: rgba(0,0,0,.4);
    color: white;
    border-radius: 4px;
    outline: none !important;
    transition: .3s ease all;
    &:focus{
      background: rgba(0,0,0,.4);
      border-color:  #37cc44;
    }

    &::placeholder{
      color: rgba(255,255,255,.3);
    }
  }

  & .form__button{
    cursor: pointer;
    width: 100%;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    padding: 16px;
    margin: 8px 0;
    background: #37cc44;
    color: white;
    box-shadow: 0 0 42px rgba(161, 239, 90, 0.35);
    transition: .3s ease all;
    &:hover{
      background: rgba(55, 204, 67, 0.8);
    }
    &:disabled{
      opacity: .6;
      cursor: default;;
    }
  }

  & .game-form__types{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    & .game-form__btn{
      max-width: 49%;
    }
  }
  & .game-form__btn{
    width: 100%;
    background: rgb(68, 81, 99, .59);
    opacity: .8;
    border: 0;
    color: white;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
    transition: .3s ease all;
    outline: none;
    &:hover{
      background: rgb(88, 106, 133, .9);
    }
    &.active{
      opacity: 1;
      background: rgb(88, 106, 133);
      box-shadow: 0 4px 16px rgba(0,0,0,.4);
    }

  }

  & .game-form__errors{
    list-style: none;
    padding: 0;
    & li{
      margin: 8px 0;
      background: #db4437;
      color: white;
      padding: 8px;
      font-size: 14px;
      border-radius: 4px;
    }
  }
}
