.game-payouts{
  max-width: 120px;
  width: 100%;
  position: relative;

  &:after{
    content: "";
    display: block;
    position: fixed;
    width: 8px;
    height: 24px;
    right: -2px;
    box-shadow: -6px -3px 14px 10px rgba(19, 22, 27, 0.205);
    background: #13161b;
  }
  @media (max-width: 720px){
     max-width: 100%;
     display: flex;
     overflow-x: scroll;
     overflow-y: hidden;
     &::-webkit-scrollbar {display:none;}

  }
}
.game-payouts__item{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 16px;
    height: 50px;
    background: rgba(68, 81, 99, 1);
    border-radius: 3px;
    position: relative;
    transition: .4 ease all;
    margin-bottom: 6px;
    margin: 0 4px 6px;
    cursor: default;
    max-width: 100px;

    &.active{
      font-weight: 500;
      background: #37cc44;
      color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 42px rgba(161, 239, 90, 0.35);
    }

    @media (max-width: 720px){
      min-width: 54px;
      width: 100px;
      margin: 0 4px;
      font-size: 12px;
      padding: 4px;
      height: auto;
    }
}
