.game-sidebar{
  width: 100%;
  max-width: 320px;
  background: #2f3542;
  border-radius: 8px;
  margin-right: 8px;
  box-shadow: 2px 0 3px -2px rgba(33,38,47,.7);
  padding: 16px;
  .game-sidebar__label{
    width: 100%;
    text-align: left;
    color: white;
    font-size: 14px;
    margin-bottom: 4px;
  }

  & *.disabled{
    pointer-events: none!important;
  }


  @media (max-width: 720px){
    max-width: 100%;
    margin: 16px auto;
  }
}
.game-bet{
  & .bet-input{
    height: 44px;
    padding: 0 12px;
    width: 100%;
    outline: none!important;
    border-radius: 5px;
    color: #fff;
    background: #222731;
    border: 1px solid transparent;
    transition: .4s ease all;;
    border-radius: 4px 4px 0 0 ;
    &:focus{
      border-color: #4986f5;
    }
  }

  & .bet-wrap,
  & .bet-wrap__input{
    position: relative;
  }
  & .bet-wrap__input.error{
    & input {
      border: 1px solid rgba(255,0,0,.4);
    }
  }

  & .bet-input__error{
    display: flex;
    background: rgba(255,0,0,.3);
    font-size: 12px;
    padding: 8px 4px;
    margin: 4px 0;
    border-radius: 4px;
    margin-bottom: 4px;
    color: white;
    display: none;
    &.active{
      display: flex;
    }
  }

  & .bet-wrap__items{
    position: absolute;
    right: 8px;
    top: calc(50% - 12px);
    bottom: 0;
    margin: auto 0;
    display: flex;


    & .bet-btn {

      width: 24px;
      height: 24px;
      border-radius: 3px;
      background: #343a48;
      margin-left: 2px;
      text-transform: uppercase;
      font-size: 10px;
      color: #828f9a;
      padding: 0;
      border: 0;
      font-weight: bold;
      outline: none!important;
      cursor: pointer;
      transition: .4s ease all;
      &:hover{
        background: #242935;
        color: #b8c3cc;
      }
      &.bet-clear{
        background: none;
        border: 0;
        font-size: 10px;
      }
    }

  }
  & .bet-counts{
    display: flex;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    & button{
      background: #3b455a;
      border: 0;
      width: 25%;
      color: white;
      font-size: 10px;
      padding: 8px 4px;
      cursor: pointer;
      transition: .4s ease all;;
      opacity: .8;
      outline: none!important;
      &:hover{
        opacity: 1;
        background: #242c3b;
      }

    }
  }

}
.game-count{
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 8px;
  .count-label{
    width: 100%;
    text-align: left;
    color: white;
    font-size: 14px;
    margin-bottom: 4px;
  }
  & .game-count__items{
    display: flex;
    background: #222731;
    width: 100%;
    border-radius: 4px;
    & button {
      width: 25%;
      color: #fff;
      background: #222731;
      border: 0;
      color: white;
      padding: 12px;
      cursor: pointer;
      opacity: .8;
      border-radius: 4px;
      transition: .4s ease all;
      outline: none!important;
      &:hover{
        opacity: 1;
      }
      &.active{
        opacity: 1;
        background: #3077f7;
      }
    }

  }
}
.game-start{
  & .game-start__auto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    color: white;
    border-radius: 5px;
    border: 1px solid #424753;
    & .game-start__btn{
      display: flex;
      flex: auto;
      background-color: #ffd000;
      color: #665300;
      justify-content: center;
      font-size: inherit;
      width: 50%;
      text-align: center;
      justify-content: center;
      padding: 12px 20px;
      border-radius: 4px;
      border: 0;
      cursor: pointer;
      font-weight: 700;
      font-size: 13px;
      transition: .3s ease all;
      outline: none!important;
      &:hover{
        background-color: rgb(226, 185, 5);
      }
    }
    & .game-start__tip{
      font-size: 12px;
      width: 30%;
      opacity: .7;
      &.tip-or{
        width: 16px;
        width: 10%;
        font-size: 11px;
        padding: 12px;
      }
    }
  }
  & .game-start__play{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    font-weight: 500;
    background: #37cc44;
    color: white;
    box-shadow: 0 0 42px rgba(161, 239, 90, 0.1);
    border: 0;
    outline: none!important;
    padding: 16px;
    margin: 16px 0;

    border-radius: 4px;
    &:disabled{
      opacity: .8;
      cursor: default;
    }
    &:hover{
      opacity: .9;
    }
  }
}
