<template>
  <div>
    <auth-modal />
    <Nuxt />

  </div>
</template>

<script>
import AuthModal from '@/components/auth/AuthModal';
export default {
  components: {
    AuthModal
  },
}
</script>

<style>


</style>
